set fish_greeting ""

set -gx TERM xterm-256color
set -gx EDITOR hx

set -x -g LC_ALL en_GB.UTF-8
set -x -g LANG en_GB.UTF-8

# Aliases
source ~/.aliases
{{- if ne .chezmoi.hostname "MBP2021" }}
source ~/.aliases_work
{{- end }}

# Local binaries
set -gx PATH $HOME/bin $PATH

# Brew
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin

# Go
set -g GOPATH $HOME/go
set -gx PATH $GOPATH/bin $PATH

# Java
set -g JAVA_HOME $(/usr/libexec/java_home)
set -gx PATH $JAVA_HOME/bin $PATH

{{- if eq .chezmoi.hostname "MBP2021" }}
# Google Cloud SDK
source /opt/homebrew/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.fish.inc

# Kubernetes
test -f ~/.kubectl_aliases.fish && source ~/.kubectl_aliases.fish
{{- end }}

# The Fuck
thefuck --alias | source

starship init fish | source
